.git
.github
.nyc_output
.sonarlint
.vscode

coverage
node_modules
test

.codeclimate.yml
.deepsource.toml
.gitignore
.npmignore
.prettierignore

cli.*
eslint.config.*
prettier.config.*
tsconfig.json
